<h1>New Tweet</h1>

<%= render 'form' %>

<%= link_to 'See All The Tweets Again, if you want to...', tweets_path %>
<!-- 'tweets_path is the route to the index view -->


<p>Find me in app/views/tweets/new.html.erb</p>
